.history {
    display: grid;
    grid-template: 10% 1fr / 1fr;
}

.history > .history-header {
    padding-left: 1vw;
    background-color: #4aa6e2;
    color: white;
    /* box-shadow: 0px 4px 6px 0px #cfcfcf; */
    position: relative;
    display: grid;
    grid-template: 3fr 2fr / 1fr 1fr;
    grid-template-areas: "mainHeader clearBtn" "subHeader subHeader";
    z-index: 1;
}

.history > .history-header > .title {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: mainHeader;
    font-size: 1.2rem;
}

.history > .history-header > .clearBtn-container {
    grid-area: clearBtn;
    display: flex;
    justify-content: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.history > .history-header > .clearBtn-container > .btn {
    width: 50%;
    height: 50%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 0.7rem;
    border: 1px solid white;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.history > .history-header > .clearBtn-container > .btn:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.history > .history-header > .sub-headers {
    width: 100%;
    height: 40%;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-area: subHeader;
}

.history > .history-content {
    overflow: auto;
    background-color: #eff9ff;
}

.history > .history-content > .no-history {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    color: #969696;
}

.history > .history-content .history-item {
    height: 7vh;
    min-height: 40px;
    border-bottom: 1px dashed #c8c8c8;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    font-size: 0.8rem;
}

.history > .history-content .history-item:hover {
    background-color: #e1e5fa;
    font-size: 0.9rem;
    font-weight: 500;
}

.history > .history-content .history-item > .history-loan-amount,
.history > .history-content .history-item > .history-loan-duration,
.history > .history-content .history-item > .action-container {
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template: 1fr / 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 1rem;
}

.history > .history-content .history-item > .action-container {
    padding-left: 0;
}

.history > .history-content .history-item > .action-container > .action {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 0 #7d7d7d;
    color: white;
    /* background-color: #3ab7c8; */
    background-image: linear-gradient(135deg, #3ab7c8, #507ce6);
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.history > .history-content .history-item > .action-container > .action:hover {
    transform: scale(1.1);
}

/* .history > .history-content .history-item > .history-loan-amount > .history-loan-amount-header,
.history > .history-content .history-item > .history-loan-duration > .history-loan-duration-header  {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.history > .history-content .history-item > .history-loan-amount > .history-loan-amount-value,
.history > .history-content .history-item > .history-loan-duration > .history-loan-duration-value {
    font-size: 0.7rem;
    font-weight: 700;
    padding-left: 0;
    display: flex;
    align-items: center;
} */