.ui-slider {
    width: calc(100% - 2rem);
    min-width: 300px;
    height: 4px;
    border-radius: 20px;
    /* background-color: lightgray; */
    background-color: #47acee;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
}

.ui-slider-handle {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform-origin: 50% 50%;
    top: -50%;
    cursor: pointer;
    /* display: flex;
    justify-content: center; */
    /* background-color: black; */
    background-color: #5e92db;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none !important;
}

.ui-slider-handle-label {
    position: relative;
    height: 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -38px;
    border-radius: 4px;
    /* padding: 0 10px; */
    /* box-shadow: 0 0 3px 0 rgba(0,0,0,0.4); */
    /* box-sizing: content-box; */
    outline: none !important;
    background-color: #f5f5f5;
    border: 1px solid #62bddd;
    z-index: 10;
}

.ui-slider-handle-label:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    border-width: 6px;
    border-style: solid;
    border-top-color: #4697b4;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}